$primary: #003811;
$secondary: #D56638;
$neutral: #FFDED6;
$font-primary: "Cereal", "Helvetica Neue", sans-serif;
$font-secondary: "Andale Mono", "Lucida Console", monospace;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0 auto;
    padding: 0 auto;
}

body {
    background-color: white;
    font-family: $font-primary;
    font-size: 2rem;
}

#content {
    background-color: white;
    padding: 0.5rem;
    height: auto;
}

header {
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;

    h1 {
        margin: 0 auto;
        padding: 1.5rem;
        cursor: pointer;
    }
}

#tab-div {
    max-width: 100%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
}

.tab-button {
    width: 49.5%;
    border: 0.2rem solid $primary;
    border-radius: 0.25rem;
    background-color: $primary;

    font-family: $font-secondary;
    font-size: 1.5rem;
    line-height: 200%;
    color: white;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        color: white;
        background-color: $primary;
        cursor: pointer;
    }
}

#main-div {
    height: auto;
    width: 100%;
    background-color: $neutral;
}

#home-div {
    padding-bottom: 0.5rem;
    
    img {
        max-width: 100%;
        display: block;
        border: 1.5rem solid;
        border-color: $neutral;
    }

    p {
        background-color: white;
        width: 92%;
        margin: 1rem auto;
        padding: 1rem;
        font-family: $font-secondary;
        font-style: italic;
        font-size: 1.5rem;
        text-align: center;
        color: $secondary;
    }
}

#menu-div {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    align-items: stretch;
}

.menu-item {
    background-color: $neutral;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    p {
        font-style: normal;
        color: $secondary;
        font-family: $font-secondary;
        font-size: 1.5rem;
        text-align: center;
        background-color: white;
        padding: 2%;
        margin: 0 auto 4% auto;
    }

    img {
        width: 100%;
        height: 35rem;
        border: 1.5rem solid;
        border-color: $neutral;
        object-fit: cover;
    }
}

#contact-div {
    border: 1rem solid;
    border-color: $neutral;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 1fr;
    grid-gap: 2rem;
    align-items: center;
}

.contact-method {
    margin: 0;
    background-color: white;
    font-family: $font-secondary;
    text-transform: uppercase;
    color: $secondary;
    text-align: right;
    justify-self: end;
}

.contact-info {
    font-size: 1.6rem;
    text-align: left;
    font-style: italic;
    width: 100%;
}

// For medium-sized screens
@media screen and (min-width: 500px) {

    body {
        background-color: $neutral;
        margin: 0 3rem;
    }
    
    #content {
        padding: 1.75rem;
        min-height: 100vh;
    }

    header {
        margin: 0 auto 3rem auto;

        h1 {
            font-size: 5rem;
        }
    }
    
    #tab-div {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .tab-button {
        line-height: 300%;
    
        color: $primary;
        background-color: white;
    }

    #main-div {
        background-color: white;
    }

    #home-div {
        img {
            border: none;
            margin-top : 1.5rem;
        }
    }

    #menu-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5rem;
    }

    
    .menu-item {
        background-color: white;
    
        img {
            border: 1rem solid transparent;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    
        p {
            font-weight: bold;
            margin: 0 auto 1rem auto;
        }
    
        &:hover {
            background-color: $primary;
    
            #menu-div & p {
                color: white;
                background-color: $primary;

            }
        }
    }
    
    #contact-div {
        margin-top: 2rem;
        border: none;
        grid-gap: 3rem;
    }

}

@media screen and (min-width: 800px) {

    body {
        margin: 0 10rem;
    }

    header {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 0;
        align-items: stretch;
        justify-items: stretch;

        h1 {
            margin: 0;
            font-size: 4.5rem;
            text-align: left;
        }

    }

    #main-div {
        img {
            width: 75%;
            object-fit: cover;

        }
    }

    #menu-div {
        width: 75%;
    }

    .menu-item {
        margin: 0;

        img {
            border: 2rem 2rem 1rem 2rem solid;
            border-color: white;
            width: 100% !important;
            height: 100%;
        }

        &:hover {
            img {
                border-color: $primary;
            }
        }
    }

    .tab-button {
        margin: 0.5rem;
        min-width: 10rem;
        font-size: 1.6rem;
    }

    #menu-div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: stretch;
        grid-gap: 0.5rem;
    }

    #contact-div {
        margin: 10rem;
        grid-template-columns: 2fr 3fr;
        border: 0.25rem dotted;
        border-color: $secondary;
        padding: 1rem;
    }

    .contact-method, .contact-info {
        font-size: 2rem;
    }
}