$primary: #003811;
$secondary: #D56638;
$neutral: #FFDED6;
$font-primary: "Cereal", "Helvetica Neue", sans-serif;
$font-secondary: "Andale Mono", "Lucida Console", monospace;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: $neutral;
    font-family: $font-primary;
    font-size: 2rem;
}

#content {
    background-color: white;
    padding: 1.75rem;
    height: auto;
}

/* HEADER */
header {
    width: 100%;
    text-align: center;
    margin-top: 0.5rem;

    h1 {
        margin: 0 auto;
        padding: 1.5rem;
        cursor: pointer;
    }
}

#tab-div {
    max-width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
}

.tab-button {
    width: 49.5%;

    border: 0.2rem solid $primary;
    border-radius: 0.25rem;

    font-size: 1.5rem;
    line-height: 300%;
    text-transform: uppercase;
    font-family: $font-secondary;
    font-weight: bold;

    color: $primary;
    background-color: white;

    &:hover {
        color: white;
        background-color: $primary;
        cursor: pointer;
    }
}

#main-div {
    width: 100%;
}

#home-div {

    img {
        display: block;
        max-width: 100%;
    }

    p {
        font-family: $font-secondary;
        font-style: italic;
        font-size: 1.5rem;
        text-align: center;
        color: $secondary;
    }
}

#menu-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    align-items: stretch;
    grid-gap: 0.5rem;


}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    img {
        margin-top: 2%;
        height: 80%;
        width: 90%;
        object-fit: cover;
    }

    p {
        font-style: normal;
        color: $primary;
        font-family: $font-secondary;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
    }

    &:hover {
        background-color: $primary;

        #menu-div & p {
            color: white;
        }
    }
}

#contact-div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 5rem;
    align-items: center;
}

.contact-method {
    font-family: $font-secondary;
    text-transform: uppercase;
    color: $secondary;
    text-align: right;
    place-self: end;
}

.contact-info {
    font-size: 1.6rem;
    text-align: left;
    font-style: italic;
}


@media (max-width: 500px) {
    body {
        background-color: white;
    }

    #content {
        padding: 0;
    }

    #tab-div {
        margin-top: 0;
        margin-bottom: 5%;
    }
    
    .tab-button {
        font-size: 1.5rem;
        line-height: 200%;
        background-color: $primary;
        color: white;
    }

    #main-div {
        background-color: $neutral;
        padding-bottom: 0.5rem;
    }

    #home-div {
        img {
            border: 1.5rem solid;
            border-color: $neutral;
        }

        p {
            background-color: white;
            width: 92%;
            margin: 1rem auto;
            padding: 1rem;
        }

        height: auto;
    }

    #menu-div {
        background-color: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 40rem;
        grid-gap: 1rem;
    }

    .menu-item {
        background-color: $neutral;

        p {
            color: $primary;
            font-size: 1.5rem;
            background-color: white;
            padding: 2%;
        }

        img {
            margin-top: 0;
            height: 70%;
        }
    }

    .contact-method {
        background-color: white;
    }
}






@media screen and (min-width: 500px) {
    #menu-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5rem;
    }
}


// For large screens (desktops, horizontal tablets)

@media screen and (min-width: 800px) {

    body {
        margin: 0 10rem;
    }

    header {
        width: 80%;
        margin: 0 auto 3rem auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 0;
        align-items: stretch;
        justify-items: stretch;

        h1 {
            margin: 0;
            font-size: 4.5rem;
            text-align: left;
        }

    }

    .tab-button {
        margin: 0.5rem;
        min-width: 10rem;
        font-size: 1.6rem;
    }

    #content {
        min-height: 100vh;
    }

    #home-div {
        width: 80%;
        margin: auto;

        p {
            font-size: 2rem;
        }
    }

    #menu-div {
        width: 80%;
        margin: auto;
    }

    #contact-div {
        width: 80%;
        margin: auto;
        border: 0.25rem solid;
        border-color: $secondary;
    }

}